<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>org.psystems.test.xforms.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/testxforms/greet</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>TestXforms.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>
			GenerateFDF
      </servlet-name>
		<servlet-class>
			org.psystems.test.xforms.server.GenerateFDFServlet
      </servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GenerateFDF</servlet-name>
		<url-pattern>/FDF_Examples/GenerateFDF</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>
			HTMLtoPDF
      </servlet-name>
		<servlet-class>
			org.psystems.test.xforms.server.HTMLtoPDFServlet
      </servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>HTMLtoPDF</servlet-name>
		<url-pattern>/PDF_Examples/HTMLtoPDF</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>
			GetDataServlet
      </servlet-name>
		<servlet-class>
			org.psystems.test.xforms.server.GetDataServletItext
      </servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GetPDFFormServlet</servlet-name>
		<url-pattern>/getdata</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>
			GetPDFFormServlet
      </servlet-name>
		<servlet-class>
			org.psystems.test.xforms.server.GetPDFFormServlet
      </servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GetPDFFormServlet</servlet-name>
		<url-pattern>/template</url-pattern>
	</servlet-mapping>
	
	

</web-app>
